html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  background: linear-gradient(135deg, #0d0d0d, #2a2a2a);
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(26, 26, 26, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1;

    
}

.btn {
    padding: 10px;
    margin: 1px;
    
    border-radius: 8px;
}

.btn:hover {

    background-color: #00ffcc;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #00ffcc;
  
}

.logo:hover {
    text-shadow: 0px 0px 10px #00ffcc;
}


ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 80px;
}


ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    transition-duration: 0.3s;
}

ul li a:hover {
    color: #1a1a1a;

}


#home {
    height: 95vh;
    position: relative;
    display: flex;
    align-items: center;
}


.stage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.info {
    display: block;
    margin-left: 45vb;
    text-align: left;
}


.stage h1 {
    font-size: 50px;
    text-shadow: 0px 0px 10px #00ffcc, 0px 0px 20px #00ffcc;
}

.stage p {
  font-size: 20px;
  margin-top: 25px;
  opacity: 0.8;
  text-shadow: 0 0 5px #00ffcc;
}

.box {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45vb;
    background: rgba(0, 255, 204, 0.1);
    border: 2px solid #00ffcc;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #00ffcc, 0px 0px 30px #00ffcc inset;

}


.profile {
    height: 240px;
    width: 240px;
    border: 2px solid;
    border-radius: 50%;
    transition-duration: 0.4s;
}

.profile:hover {
    width: 220px;
    height: 220px;
    border: none;
    transition-delay: 0.1s;
}

.button {
  margin-top: 10px;
  border-radius: 100%;
  display: inline-flex;
  gap: 5px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
  align-items: center; 
}

.button:hover {
    border: 1px solid;
    border-radius: 50%;
    background-color: whitesmoke;

}


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.para {
    width: 40vb;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}
.lead {
    letter-spacing: 0.5px;
    word-spacing: 1px;
    font-size: 20px;
    text-shadow: 0 0 5px #00ffcc;
    opacity: 0.8;
}

footer {
    display: flex;
    justify-content: center;
    z-index: 1;
}


#portfolio {
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.box1 {

    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 255, 204, 0.1);
    border: 2px solid #00ffcc;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #00ffcc, 0px 0px 30px #00ffcc inset;
    margin: 20px;

}

.box1:hover {
    box-shadow: 0px 0px 30px #00ffcc, 0px 0px 30px #00ffcc inset;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}




.images {

    height: 120px;
    width: 120px;
    border-radius: 30%;
    transition-duration: 0.1s;

}


.projects {
    justify-content: center;
    align-items: center;
}

.projects a {
    display: block;
    color: #00ffcc;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 0 0 10px #00ffcc;
    padding: 15px;
    margin: 15px;
}

.projects a:hover {
    color: whitesmoke;
    text-shadow: 1px 1px 15px #00ffcc;
}


.alignleft {
    position: relative;
    left: 120px;
}

.alignright {
    position: relative;
    bottom: 15px;
    left: 20px;
}

#about {
    height: 50vh;
}

#contact {
    height: 20vh;
}


.logo-position {
  position: absolute;
    top: 28px;
    right: 16px;
    left: auto;
    transform: none;
    z-index: 1;
}


.image-container {
  position: relative;
  width: 120px;
  height: 30px;
}

.image-container img {
  position: absolute;
  right: 150px;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}


.hover-img {
  opacity: 0;
}

.image-container:hover .hover-img {
  opacity: 1;
}

.image-container:hover .default-img {
  opacity: 0;
}

.typewriter {
    overflow: hidden;
    border-right: 3px solid #3b82f6;
    white-space: nowrap;
    letter-spacing: 1.2px;
    animation: typing 3.5s steps(40, end);
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
